.App {
  text-align: center;
  width: 80%;
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 2% auto;
  border: 3px dashed yellow;
  border-radius:20px;
  font-size: 1.6rem;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
